
$space-large: 2.5rem;
$title-color: darkblue;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.section-title {
  color: $title-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.code_links li {
  list-style-type: none;
}

.social_links li {
  list-style-type: none;
}

.tools li {
  list-style-type: none;
}

#footer {
  display: block;
  background-color: #e6e6e6;
  margin: 0.5rem;
  padding: 1.0rem;
  text-align: center;
}

.quote {
  margin: 3.0rem auto;
}

.opening {
  margin: 1.0rem auto;
}

#code-links {
  display: block;
  margin: 1.5rem auto;
}
