
$space-large: 2.5rem;
$title-color: darkblue;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
