.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.section-title {
  color: $title-color;
  text-align: center;
}

.section {
  overflow: hidden;
  padding: 4.0rem 1.6rem;
  position: relative;
}
#page-footer {
  display: block;
  background-color: #666666;
  padding: 1.0rem;
  text-align: center;
}

.btn {
  color: $title-color;
}

.text-block {
  margin: 1.0rem auto;
}
