.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

.section-title {
  color: $title-color;
}

#footer {
  display: block;
  background-color: #e6e6e6;
  margin: 0.5rem;
  padding: 1.0rem;
  text-align: center;
}

.btn {
  color: $title-color;
}
