.quote {
  margin: 3.0rem auto;
  padding: 6.0rem 0 0;
}

.heading {
  color: #1685d0;
}

.opening {
  margin: 1.0rem auto;
  padding: 2.0rem 0 0;
}

#landing {
  color: white;
  background-color: #66cdaa;
  background-size: cover;
  background-position: center;
}
