.wrapper {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.footerComponent {
  display: flex;
}

button {
  background-color: white;
}
