#projects {
  background-color: #ecf6f9;
}

.code-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.code-links li {
  margin: 20px auto;
  list-style-type: none;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.project-list img {
  width: 300px;
}

.project-details {
  margin-bottom: 0;
}

.caption {
  margin: auto 0;
  padding: 10px;
  background-color: lightgrey;
  text-align: center;
}

.media-title {
  font-weight: bold;
}
